/* .all-stocks {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.stocks-box {
  background-color: #dbdbdb;
  padding: 1rem;
  border-radius: 10px;
  width: 160px;
  margin: 2rem;
} */
